@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(55 55 55);
}

:root {
  color-scheme: dark;
}

.div_columns {
  direction: ltr;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
